<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <title>Unauthorized</title>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/views/all-contacts.html">All Contacts</a></li>
        </ul>
      </nav>
    </header>
    <h1>Unauthorized!</h1>
    <p>You are not authorized to view this page</p>
    <p>Click <a href="/index.html" class="btn">Here</a>to login</p>
  </body>
</html>
