<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Signup</title>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/views/all-contacts.html">All Contacts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="login">
        <form action="" id="login-form">
          <h2>Signup</h2>

          <div class="form-control">
            <input type="text" id="name" />
            <label for="name">Username</label>
          </div>

          <div class="form-control">
            <input type="email" id="email" />
            <label for="email">Email</label>
          </div>

          <div class="form-control">
            <input type="password" id="name" />
            <label for="name">Password</label>
          </div>

          <div class="form-control">
            <button class="btn">login</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
