<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script src="../scripts/auth/current.js" defer></script>
    <!-- <script src="../scripts/contacts/contacts.js" defer></script> -->
    <title>Current User</title>
    <!-- <script>
      document.addEventListener("DOMContentLoaded", async function () {
        let response;
        try {
          response = await fetch("http://localhost:5001/api/users/current");
          console.log("fetched current successfully");
        } catch (error) {
          alert("Could not fetch user");
          return;
        }

        if (!response.ok) {
          alert("NO response");
          return;
        }
        console.log("The DOM is ready!");

        // Access and manipulate DOM elements
        const element = document.getElementById("current-user");
        element.textContent = "DOM content is loaded";
      });
    </script> -->
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/views/all-contacts.html">All Contacts</a></li>
        </ul>
      </nav>
    </header>
    <h1 id="current-user">Current User</h1>
  </body>
</html>
