<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/contacts.css" />
    <script src="../scripts/auth/current.js" defer></script>
    <script src="../scripts/contacts/contacts.js" defer></script>
    <script src="../scripts/auth/logout.js" defer></script>
    <title>Current User</title>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/views/all-contacts.html">All Contacts</a></li>
          <li><a href="/views/create-contact.html">Create Contact</a></li>
          <li><button id="logoutButton" class="btn-alt">logout</button></li>
        </ul>
      </nav>
    </header>
    <h1>Welcome! <span id="current-user">Current User</span></h1>

    <section id="all-contacts">
      <h2>My contacts</h2>
      <ul id="contact-list"></ul>
    </section>
  </body>
</html>
