<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script src="../scripts/auth/signup.js" defer></script>

    <title>Signup</title>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/views/all-contacts.html">All Contacts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Contacts App</h1>
      <section id="signup">
        <form action="" id="signup-form">
          <h2>Signup</h2>

          <div class="form-control">
            <input type="text" id="username" name="username" required />
            <label for="name">Username</label>
          </div>

          <div class="form-control">
            <input type="email" id="email" name="email" required />
            <label for="email">Email</label>
          </div>

          <div class="form-control">
            <input type="password" id="name" name="password" required />
            <label for="name">Password</label>
          </div>

          <div class="form-control">
            <button class="btn">Signup</button>
          </div>
          <p>
            If you already have account you can<a
              class="btn-alt"
              href="/index.html"
              >login</a
            >
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
