*{
    box-sizing: border-box;
}

html{
    font-family:'Abel',sans-serif;
}

body{
    margin:0;
    background-color:rgb(75, 72, 72);
    color:white;
    text-align: center;
}

header{
    top:0;
    left:0;
    width:100%;
    
    
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 2% auto;
    justify-content:center;
    align-items: center;
   
}

header li{
    padding:0 1rem;
    margin: 1rem;

}


.btn-alt{
    color:white;
    border:1px solid teal;
    background-color: teal;
    padding:6px 3px;
    margin: 3px 3px;
    border-radius: 5px;
}

.btn-alt:hover{
    background-color: transparent;
}

a{
text-decoration: none;
}


header ul a{
   
    color:white;
    cursor:cell;
}

header ul a:hover{
    color:aquamarine;
}

main{
    width:90%;
    max-width:50rem;
    margin:0 auto;
    padding:1rem 0;
}

main h1{
    margin:2rem 0;
    padding: 2rem 0;
}


form{
    width: 90%;
    border:2px solid teal;
    border-radius:5px;
    max-width: 25rem;
    margin:2rem auto;
    text-align: center;
}

input{
    font:inherit;
    border-radius: 5px;
    width:90%;
    padding: 0.5rem;
}

label{
    display:block;
}

.form-control{
    margin:1rem 0;
    padding:0.5rem 0;
}

.btn{
    font:inherit;
    cursor:cell;
    margin:0.5rem 0.5rem;
    padding:1rem 1rem;
    border-radius: 5px;

}

.btn:hover{
    background-color:aquamarine;

}
